<app-admin></app-admin>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>User management system</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
              <li class="breadcrumb-item active">Users</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">

            
            
          <h3 class="card-title">Add a new user <button (click)="openModal()" type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addUser"> Add User</button></h3>

               
        <!-- add user Modal -->
        <div class="modal fade" id="addUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add a new user</h5>
               
                </div>
                <div class="modal-body">
                
                    <form [formGroup]="userDetail">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Full name</label>
                            <input type="text" formControlName="name" class="form-control" id="name" aria-describedby="emailHelp">
                          </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input type="email" formControlName="email" class="form-control" id="email" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Phone number</label>
                            <input type="number" formControlName="phone" class="form-control" id="phone" aria-describedby="emailHelp">
                          </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" formControlName="password" class="form-control" id="password">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                            <input type="password" formControlName="cpassword" class="form-control" id="cpassword">
                          </div>
          
                      </form>

                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
                <button type="button" class="btn btn-primary" (click)="addUser()">Add</button>
                </div>
            </div>
            </div>
        </div>

        <!-- edit uder Modal -->
  <div class="modal fade" id="editUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit User details</h5>
          
        </div>
        <div class="modal-body">
         
            <form [formGroup]="userDetail">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Full name</label>
                    <input type="text" formControlName="name" class="form-control" id="name" aria-describedby="emailHelp">
                  </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" formControlName="email" class="form-control" id="email" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Phone number</label>
                    <input type="number" formControlName="phone" class="form-control" id="phone" aria-describedby="emailHelp">
                  </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" formControlName="password" class="form-control" id="password">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                    <input type="password" formControlName="cpassword" class="form-control" id="cpassword">
                  </div>
  
              </form>

        </div>
        <div class="modal-footer" >
          <button (click)="closeModalEdit()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button (click)="updateUser()" type="button" class="btn btn-primary" >Edit</button>
        </div>
      </div>
    </div>
  </div>

        <!-- li tsaker weli tsagher l page-->
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>

        <!-- l table -->
        <div class="card-body p-0">
          <table class="table table-striped projects">
              <thead>
                  <tr>
                      <th style="width: 1%">
                          #Id
                      </th>
                      <th style="width: 20%">
                          Full Name
                      </th>
                      <th style="width: 20%">
                          Email
                      </th>
                      <th>
                          Phone
                      </th>
                      <th style="width: 8%" class="text-center">
                          Password
                      </th>
                      <th style="width: 8%" class="text-center">
                        CPassword
                    </th>
                      
                      <th style="width: 20%" class="text-center">
                        Action
                    </th>
                      
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let user of userList">
                      <td>
                          #
                      </td>
                      <td> {{user.name}} </td>
                      <td> {{user.email}} </td>
                      <td> {{user.phone}} </td>
                      <td> {{user.password}} </td>
                      <td> {{user.cpassword}} </td>
                      <td class="project-actions text-right">
                          
                          <button (click)="openModalEdit()" (click)="editUser(user)" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#editUser">
                              <i class="fas fa-pencil-alt">
                              </i>
                              Edit
                          </button>
                          
                          <button (click)="deleteUser(user)" class="btn btn-outline-danger " href="#">
                              <i class="fas fa-trash">
                              </i>
                               Delete
                          </button>
                      </td>
                  </tr>
                  
              </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

